/****** Object:  Table [vm1dta].[ZPHADDR]    Script Date: 09/11/2022 06:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vm1dta].[ZPHADDR](
	[UNIQUE_NUMBER] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY] [nchar](1) NULL,
	[PSTCDE] [nchar](4) NULL,
	[DISTRCT] [nchar](50) NULL,
	[PRVNCODE] [nchar](15) NULL,
	[PRVNDESC] [nchar](50) NULL,
	[REGNID] [nchar](5) NULL,
	[REGNCODE] [nchar](10) NULL,
	[REGNDESC] [nchar](50) NULL,
	[USRPF] [nchar](10) NULL,
	[JOBN] [nchar](10) NULL,
	[DATIME] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIQUE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [vm1dta].[ZPHADDR] ON 

INSERT [vm1dta].[ZPHADDR] ([UNIQUE_NUMBER], [COMPANY], [PSTCDE], [DISTRCT], [PRVNCODE], [PRVNDESC], [REGNID], [REGNCODE], [REGNDESC], [USRPF], [JOBN], [DATIME]) VALUES (1, N'9', N'2922', N'Adams                                             ', N'ILN            ', N'Ilocos Norte                                      ', N'PH-01', N'I         ', N'Ilocos                                            ', N'          ', N'          ', CAST(N'2022-11-09T18:29:27.1700000' AS DateTime2))
INSERT [vm1dta].[ZPHADDR] ([UNIQUE_NUMBER], [COMPANY], [PSTCDE], [DISTRCT], [PRVNCODE], [PRVNDESC], [REGNID], [REGNCODE], [REGNDESC], [USRPF], [JOBN], [DATIME]) VALUES (2, N'9', N'2916', N'Bacarra                                           ', N'ILN            ', N'Ilocos Norte                                      ', N'PH-01', N'I         ', N'Ilocos                                            ', N'          ', N'          ', CAST(N'2022-11-09T18:29:27.1700000' AS DateTime2))
INSERT [vm1dta].[ZPHADDR] ([UNIQUE_NUMBER], [COMPANY], [PSTCDE], [DISTRCT], [PRVNCODE], [PRVNDESC], [REGNID], [REGNCODE], [REGNDESC], [USRPF], [JOBN], [DATIME]) VALUES (3, N'9', N'2904', N'Badoc                                             ', N'ILN            ', N'Ilocos Norte                                      ', N'PH-01', N'I         ', N'Ilocos                                            ', N'          ', N'          ', CAST(N'2022-11-09T18:29:27.1700000' AS DateTime2))
GO
SET IDENTITY_INSERT [vm1dta].[ZPHADDR] OFF
GO
ALTER TABLE [vm1dta].[ZPHADDR] ADD  DEFAULT (getdate()) FOR [DATIME]
GO

ALTER TABLE VM1DTA.ZPHADDR
	ALTER COLUMN DISTRCT nchar(50) COLLATE Modern_Spanish_CI_AS;
GO